@model ModelNovaAvaliacao
@{
    ViewData["Title"] = "Nova Avaliação";
}
<div>

    <div class="jumbotron" style="background-color: #fc6969">
        <p>OBSERVAÇÃO: Na seleção de conhecimento, selecione</p>
        <p>0 para NÃO CONHECE e 5 para CONHECIMENTO SÊNIOR</p>
    </div>

    @using (Html.BeginForm("Salvar", "Avaliacao", FormMethod.Post))
    {
        @Html.HiddenFor(m => Model.Avaliacao.CD_Candidato)

        <div style="background-color:#eeeeee; padding:10px 15px; margin:10px">
            <h3>Disponibilidade para trabalhar</h3>
            <div class="largura-total bloc" style="display:block">
                <dl>
                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_DisponivelAte4HorasPorDia)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_DisponivelAte4HorasPorDia)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_DisponivelDe4A6HorasPorDia)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_DisponivelDe4A6HorasPorDia)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_DisponivelDe6A8HorasPorDia)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_DisponivelDe6A8HorasPorDia)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_DisponivelAcimaDe8HorasPorDia)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_DisponivelAcimaDe8HorasPorDia)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_TrabalharHorarioComercial)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_TrabalharHorarioComercial)
                    </dt>
                </dl>
            </div>
        </div>

        <div style="background-color:#eeeeee; padding:10px 15px; margin:10px">
            <h3>Melhor horário para trabalhar</h3>
            <div class="largura-total bloc" style="display:block">
                <dl>
                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_TrabalharDeManha)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_TrabalharDeManha)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_TrabalharATarde)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_TrabalharATarde)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_TrabalharANoite)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_TrabalharANoite)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_TrabalharDeMadrugada)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_TrabalharDeMadrugada)
                    </dt>

                    <dt>
                        @Html.CheckBoxFor(m => Model.Avaliacao.VF_DisponivelApenasFinaisDeSemana)
                        @Html.DisplayNameFor(m => Model.Avaliacao.VF_DisponivelApenasFinaisDeSemana)
                    </dt>
                </dl>
            </div>
        </div>


        @for (int i = 0; i < Model.listaGrupoPergunta.Count; i++)
        {
            <div style="background-color:#eeeeee; padding:10px 15px; margin:10px">
                @Html.HiddenFor(m => Model.listaGrupoPergunta[i].Pergunta.CD_Pergunta)
                @Html.HiddenFor(m => Model.listaGrupoPergunta[i].Pergunta.CH_Descricao)
                <h3>@Model.listaGrupoPergunta[i].Pergunta.CH_Descricao</h3>
                <div class="largura-total " style="display:inline-flex;">
                    <p style="margin: 6px 15px 0px 15px">Selecione seu nível de conhecimento</p>
                    @Html.DropDownListFor(m => Model.listaGrupoPergunta[i].IN_Conhecimento,
                          new SelectList(new List<int> (){ 0, 1, 2, 3, 4, 5}),
                          "-",
                          new { @class = "form-control largura-quinto" })
                </div>
                <span asp-validation-for="listaGrupoPergunta[i].IN_Conhecimento" class="text-danger"></span>
            </div>
        }
        <br />
        <input type="submit" value="Envia CheckBox" />
    }
</div>
