@model CRUDAspNetCoreMVC.Models.Candidato

@{
    ViewData["Title"] = "Visualizar Candidato";
}

<h2>Visualizar</h2>

<div>
    <h4>Candidato</h4>
    <hr />

    <div class="row">
        <dl class="col-md-5">
            <dt>
                @Html.DisplayNameFor(model => model.CH_Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CH_Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CH_Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CH_Telefone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CH_Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CH_Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CH_Cidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CH_Cidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CH_Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CH_Estado)
            </dd>
        </dl>

        <div class="col-md-7">
            <table class="table">
                <tr>
                    <th>Data das avaliações</th>
                    <th class="largura-quinto">
                        <a asp-controller="Avaliacao" asp-action="NovaAvaliacao" asp-route-id="@Model?.CD_Candidato" class="btn btn-success btn-block  glyphicon glyphicon-plus"> Adicionar Teste</a>
                    </th>
                </tr>
                <tr>
                    <td>@DateTime.Now.ToShortDateString()</td>
                    <td class="btn-group largura-total">
                        <button class="btn btn-info largura-terco glyphicon glyphicon-search"/>
                        <button class="btn btn-warning largura-terco  glyphicon glyphicon-pencil"/>
                        <button class="btn btn-danger largura-terco glyphicon glyphicon-trash"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <a asp-action="Index" class="btn btn-warning">Voltar para listagem</a>
    <a asp-action="Editar" asp-route-id="@Model?.CD_Candidato" class="btn btn-info">Editar candidato</a>
</div>
