@model ModelVisualizacaoCandidato

@{
    ViewData["Title"] = "Visualizar Candidato";
}

<h2>Visualizar</h2>

<div>
    <h4>Candidato</h4>
    <hr />

    <div class="row">
        <dl class="col-md-5">
            <dt>
                @Html.DisplayNameFor(model => model.Candidato.CH_Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Candidato.CH_Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Candidato.CH_Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Candidato.CH_Telefone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Candidato.CH_Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Candidato.CH_Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Candidato.CH_Cidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Candidato.CH_Cidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Candidato.CH_Estado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Candidato.CH_Estado)
            </dd>
        </dl>

        <div class="col-md-7">
            <table class="table">
                <tr>
                    <th>Data das avaliações</th>
                    <th class="largura-quinto">
                        <a asp-controller="Avaliacao" asp-action="NovaAvaliacao" asp-route-id="@Model?.Candidato.CD_Candidato" class="btn btn-success btn-block  glyphicon glyphicon-plus"> Adicionar Teste</a>
                    </th>
                </tr>
                @{
                    foreach (var a in Model.Avaliacoes)
                    {
                        <tr>
                            <td> @a.DT_Avaliacao.ToShortDateString() - @a.DT_Avaliacao.ToShortTimeString()</td>
                            <td class="btn-group largura-total">
                                <a asp-controller="Avaliacao" asp-action="Visualizar" asp-route-id="@a.CD_Avaliacao" class="btn btn-info largura-terco glyphicon glyphicon-search"/>
                                <a asp-controller="Avaliacao" asp-action="Editar" asp-route-id="@a.CD_Avaliacao" class="btn btn-warning largura-terco  glyphicon glyphicon-pencil" />
                                <a asp-controller="Avaliacao" asp-action="Remover" asp-route-id="@a.CD_Avaliacao" class="btn btn-danger largura-terco glyphicon glyphicon-trash" />
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <a asp-action="Index" class="btn btn-warning">Voltar para listagem</a>
    <a asp-action="Editar" asp-route-id="@Model?.Candidato.CD_Candidato" class="btn btn-info">Editar candidato</a>
</div>
